body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: azure;
}

.navbar {
    background-color: #333;
    overflow: hidden;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; 
}

.navbar li {
    float: left;
}

.navbar a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

/* Products page */
.products-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 columns */
    grid-template-rows: repeat(2, auto); /* 2 rows */
    gap: 10px; /* space between items */
    padding: 10px;
}

.item {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.price {
    margin: 10px 0;
    font-size: 1.2em;
    font-weight: bold;
}
.image {
    width: 90px;
    height: 90px;
    margin: auto;
    margin-bottom: 10px;
    display: block;
    border: 2px solid #555;
    border-radius: 8px;
}

.select-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.select-button:hover {
    background-color: #45a049;
}

/*Customer Page--------------------------------------------------*/

.preferenceHeader{
  text-align: center;
  margin-right: min(48%,480px);
}

.foodPreference {
        border-radius: 5px;
        border: 1px solid #ccc;
        margin: auto;
        margin-top: -18px;
        margin-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
        width: 50%;
        max-width: 500px;
        min-width: 200px;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.foodPreferenceOption {

}

.foodPreferenceOption hr {
    width: 100%;
    margin: 0;
    border-top: 1px solid rgba(128, 128, 128, 0.25);
}

.toggle-slider {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  margin-top: 15px;
}

.hidden {
  display: none;
}

.slider {
  position: relative;
  display: inline-block;
  min-width: 40px;
  height: 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.4s;
  margin-left: 5px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  top: 2px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.4s;
}

input:checked + .slider:before {
  transform: translateX(20px);
}

.toggle-slider small{
    color: grey;
    font-size:11px;
}

/* Checkout Page Styles */
#selected-products-list {
    list-style-type: none;
    padding: 0;
}

#selected-products-list li {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#selected-products-list li button {
    padding: 5px 10px;
    background-color: #ff4d4d;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#selected-products-list li button:hover {
    background-color: #ff3333;
}

#total-price {
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 20px;
}

/* General Styles */
button:focus {
    outline: none;
}


footer {
    text-align: right;
    margin-top: 200px; /* or any color you prefer */
}

.signature {
    text-align: right;
    margin-top: 20px; 
    font-style: italic; 
    background-image: linear-gradient(to left, #553c9a, #ee4b2b);
    background-clip: text;
    color: transparent;
}

.jumpGate-button {
    font-size: 16px;
    border-radius: 25px;
    padding: 10px 20px;
    border: none;
    color: black;
    background-color: white;
    border: 1.5px solid black;
}

.jumpGate-button:hover{

    border: 2px solid black;

}



