body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: azure;
}

.navbar {
    text-align: left;
    background-color: darkgray; 
    padding: 10px 0; 
}

.navbar ul {
    padding: 0;
    margin: 0;
    display: inline-block; 
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    padding: 10px; 
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    padding: 14px 16px;
    font-size: 25px;
}

.navbar ul li a:hover {
    color: #0069d9;
}

.navbar ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: black;
    display: block;
    margin: auto;
    transition: width 1s;
}

.navbar ul li:hover::after {
    width: 100%;
}

/* Products page */
.products-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    grid-auto-rows: minmax(100px, auto); 
    gap: 20px; 
    padding: 20px;
}

.item {
    background-color: #f0f0f0;
    border: none;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.item:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0,0,0,0.15);
}

.price {
    margin: 10px 0;
    font-size: 1.2em;
    font-weight: bold;
}

.image {
    width: 90px;
    height: 90px;
    margin: auto;
    margin-bottom: 10px;
    display: block;
    border: 2px solid #555;
    border-radius: 8px;
}

.select-button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.select-button:hover {
    background-color: #0069d9;
}

/*Customer Page--------------------------------------------------*/

.preferenceHeader{
  text-align: center;
  margin-right: min(48%,480px);
}

.foodPreference {
        border-radius: 5px;
        border: 1px solid #ccc;
        margin: auto;
        margin-top: -18px;
        margin-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
        width: 50%;
        max-width: 500px;
        min-width: 200px;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.foodPreferenceOption {

}

.foodPreferenceOption hr {
    width: 100%;
    margin: 0;
    border-top: 1px solid rgba(128, 128, 128, 0.25);
}

.toggle-slider {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  margin-top: 15px;
}

.hidden {
  display: none;
}

.slider {
  position: relative;
  display: inline-block;
  min-width: 40px;
  height: 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.4s;
  margin-left: 5px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  top: 2px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.4s;
}

input:checked + .slider:before {
  transform: translateX(20px);
}

.toggle-slider small{
    color: grey;
    font-size:11px;
}

/* Checkout Page Styles */
#selected-products-list {
    list-style-type: none;
    padding: 0;
    max-width: 600px; 
    margin: auto; 
}

#selected-products-list li {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
    border-radius: 8px; 
    transition: transform 0.2s, box-shadow 0.2s; 
}

#selected-products-list li:hover {
    transform: translateY(-5px); 
    box-shadow: 0 4px 10px rgba(0,0,0,0.15); 
}

#selected-products-list li button {
    padding: 5px 10px;
    background-color: #007bff; 
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.2s; 
}

#selected-products-list li button:hover {
    background-color: #0056b3; 
}

#total-price {
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 20px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

/* General Styles */
button:focus {
    outline: none;
}


footer {
    text-align: right;
    margin-top: 200px; 
}

.signature {
    text-align: right;
    margin-top: 20px; 
    font-style: italic; 
    background-image: linear-gradient(to left, #553c9a, #ee4b2b);
    background-clip: text;
    color: transparent;
}

.jumpGate-button {
    font-size: 16px;
    border-radius: 25px;
    padding: 10px 20px;
    border: none;
    border: 1.5px solid black;
    color: white;
    background-color: #0069d9;
}

.jumpGate-button:hover{
    border: 2px solid black;
    background-color: #0069d9;

}
.jumpGate-button-products{
    background-color: #007bff;
    color: white;
    padding: 0;
    width: 100px;
    height: 40px;
}
.jumpGate-button-products:hover {
    background-color: #007bff;
}


.image-display img{
        width: 32%;
        height: 5%;
        margin: auto;
        margin-bottom: 10px;
        border: 2px solid #555;
        border-radius: 10px;
        margin-top: 5px;
}
.image-display {
  display: flex;
  justify-content: center;}


.black-container {
  background-color: #000; 
  overflow: hidden; 
  position: relative; 
  border-radius: 0px;
}

.imageContainer {
  width: 100%; 
  display: block; 
}


.text-overlay {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff; 
  text-align: center;
  padding: 20px;
}

.navbar span {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}






